<div id="consult">
    <div class="top"></div>
    <div class="two clear">
        <div class="form lf">
            <p class="title">给我们留言</p>
            <form>
                <p class="lf name"><label>姓名：</label><input type="text"></p>
                <p class="lf phone"><label>手机：</label><input type="text"></p>
                <p class="lf WeChat"><label>微信：</label><input type="text"></p>
                <p class="lf QQ"><label>QQ：</label><input type="text"></p>
                <p class="remarks lf"><label>内容：</label><textarea class="remarks" name="" id="" cols="5" rows="5"></textarea></p>
                <p class="button lf">
                    <span>提交</span>
                </p>
            </form>
        </div>
        <div class="line lf"></div>
        <div class="contact lf">
            <p class="title">在线咨询</p>
            <div class="WeChat">
                <p>微信</p>
                <p>ssssssss</p>
            </div>
            <div class="phone">
                <p>手机</p>
                <p>1111111111111</p>
            </div>
        </div>
    </div>
</div>
