<div id="home">
    <div class="top">
        <div class="imgDiv">
            <p class="textImg">
                <img src="assets/images/text.png" alt="">
            </p>
            <p class="text">覆盖支付全场景&nbsp;&nbsp;打通支付全通道</p>
            <p class="buttonDiv">
                <button class="advisory">立即咨询</button>
            </p>
        </div>
    </div>
    <div class="two clear">
        <span class="cost lf">
            <div class="imgdiv">
                <div></div>
            </div>
            <h3>低成本</h3>
            <p class="text">强大的第三方谈判优势，费率极低</p>
        </span>
        <span class="safety lf">
            <div class="imgdiv">
                <div></div>
            </div>
            <h3>安全</h3>
            <p class="text">基于第三方的成熟技术，在技术上进一步提升</p>
        </span>
        <span class="fiexbil lf">
            <div class="imgdiv">
                <div></div>
            </div>
            <h3>灵活</h3>
            <p class="text">集合众多三方支付平台，支付通道丰富，定制性高</p>
        </span>
        <span class="speed lf">
            <div class="imgdiv">
                <div></div>
            </div>
            <h3>极速</h3>
            <p class="text">整合众多三方支付接口，只需完成一个接口的接入即可</p>
        </span>
    </div>
    <div class="three">
        <div>
            <div class="text1">
                仅需3步，开启行业颠覆性收款
            </div>
            <div class="text2">
                7*24小时提现开创者，最快2s到账，马上提，马上到！
            </div>
            <div class="count clear">
                <span class="number isSelected">
                    <span class="circle">1</span><span class="text">联系客服</span>
                </span>
                <span class="line">
                    <div></div>
                </span>
                <span class="number">
                    <span class="circle">2</span><span class="text">申请接口</span>
                </span>
                <span class="line">
                    <div></div>
                </span>
                <span class="number">
                    <span class="circle">3</span><span class="text">接入收款</span>
                </span>
            </div>
            <div class="carousel">
                <div class="left prohibit"></div>
                <div class="center">
                    <ul class="clear">
                        <li class="lf"><img alt="" src="assets/images/1.png"></li>
                        <li class="lf"><img alt="" src="assets/images/2.png"></li>
                        <li class="lf"><img alt="" src="assets/images/3.png"></li>
                    </ul>
                </div>
                <div class="right"></div>
            </div>
        </div>
    </div>
    <div class="four clear">
        <h2>我们的优势</h2>
        <div class="left lf">
            <h4>个性化</h4>
            <p>
                根据客户自身情况，量身定制支付解决方案 不同的行业，我们会为您提供不同的支付定位；不同的业务模式我们会为您分析指定最适合您的支付方案；合作模式因您而定
            </p>
        </div>
        <div class="line lf"></div>
        <div class="center lf">
            <h4>资金安全</h4>
            <p>pk支付因为不直接跟资金接触，资金走第三方平台，所以第四方支付平台下的商户资金可以得到很大的保障，解决了商户的后顾之忧。同时我们也将全方位保障您的资金安全，24小时专属客服为您服务</p>
        </div>
        <div class="line lf"></div>
        <div class="right rf">
            <h4>专业化</h4>
            <p>十年积淀行业经验，优质的精英客户服务团队 我们的技术团队支付系统开发有着丰富的开发经验，我们的产品团队对市场有敏锐的理解分析，我们的业务团队对客户有贴心周到的服务</p>
        </div>
    </div>
    <div class="fives">
        <div class="clear">
            <div class="lf">
                <div class="text1">PK支付</div>
                <div class="text2">让支付&nbsp;更简单</div>
                <!-- <div class="buttonDiv">
                    <button class="contact">联系客服</button>
                </div> -->
            </div>
            <div class="rf">
                <form>
                    <p class="title">联系我们</p>
                    <p class="inputP"><span>SKYPE：</span>11111111111111</p>
                    <p class="inputP"><span>手机号：</span>13411786695</p>
                    <p class="inputP"><span>微信号：</span>PK666</p>
                    <!-- <p class="buttonDiv"><span class="button">提交</span></p> -->
                </form>
            </div>
        </div>
    </div>
    <div class="six">
        <div class="six_top">
            <p class="cooperation">合作伙伴</p>
            <p class="text">与国内知名公司合作，为您带来优质的价值，为您的支持之路保驾护航</p>
        </div>
        <div class="six_two">
            <span class="UnionPay">中国银联</span>
            <span class="Alipay">支付宝</span>
            <span class="WeChat">微信支付</span>
            <span class="JD">京东钱包</span>
            <span class="Baidu">百度钱包</span>
            <span class="QQ">QQ钱包</span>
        </div>
    </div>
</div>
