<div id="info">
    <div class="top"></div>
    <div class="two">
        <div class="content">
            <p>PK支付成立于2018年，是一家专业从事支付系统开发，软件开发、APP开发、销售、服务于一体的互网联应用定制开发提供商。</p>
            <p>公司拥有强大的软件产品设计和开发团队，专注于研发具有自主核心技术和知识产权的软件产品，长期结合支付行业特点，为客户提供先进、实用、可靠的支付技术服务。</p>
            <p>站在客户的立场去制订专业和合理的支付实施方案，以优秀服务为客户节约成本、创造价值，赢得了广大客户的信赖与支持。</p>
            <p>秉承诚信，创新，激情，分享的文化理念，不断提高和改进公司服务方式和方法，不断提升公司的服务品牌，不断追求一流的形象，一流的品质，一流的服务，努力将自身打造成为业内一流企业。</p>
            <p class="t">我们的优势</p>
            <ol>
                <li>一线大厂资深研发人员，技术精湛，产品更安全可靠</li>
                <li>极低的使用门槛，低于支付宝、微信支付自身的手续费，助力个人创业</li>
                <li>拥有一颗永不满足的心。不断的更新迭代，精益求精</li>
            </ol>
            <div class="contact"><span>联系电话： 18148500456</span><span>微信客服： dgr346</span></div>
        </div>
    </div>
</div>
