<div id="product">
    <div class="top">
        <div class="nullDiv"></div>
        <div class="text1"></div>
        <div class="text2">聚合支付管理服务</div>
        <div class="text3">全方位支付顾问</div>
    </div>
    <div class="two">
        <div class="clear">
            <span class="lf">
                <p class="text1">想要收款，但是支付厂商</p>
                <p class="text2">那么多，我该怎么选？</p>
                <p class="text3">PK支付，让您选中无忧</p>
            </span>
            <span class="rf">
                <img src="assets/images/bg4.png" alt="">
            </span>
        </div>
    </div>
    <div class="three">
        <p class="title">第四方支付是什么？</p>
        <p class="line"></p>
        <p class="content">
            第四方支付聚合多家支付通道，通过连接第四方支付提供的API，即可任意选择pk支付提供的所有第三方支付服务，后台设置，一键切换。以往在收款时您会为了要选择连接银行还是第三方支付等支付商烦恼不已，现在，只要交给第四方支付，所有支付难关我们都会为您打通！
        </p>
        <p class="footer">
            pk支付是业界提供第四方支付服务的顶尖供应商，不但帮您解決资金困扰，还有各种独家服务。
        </p>
    </div>
    <div class="four clear">
        <span class="lf content">
            <p>
                你需要一个强大的伙伴
                <br>
                让创业少走弯路
            </p>
            <p>
                pk支付作为对第三方支付平台服务的拓展，介于第三方支付和商户之间，无支付许可牌照的限制。我们集成了各种三方支付平台/合作银行/合作电信运营商/其他服务商接口，也就是说集合了各个第三方支付及多种支付渠道的优势，能够根据商户的需求进行个性化定制，形成支付通道资源互补优势，满足商户需求，提供适合商户的支付解决方案。
            </p>
        </span>
        <span class="rf">
            <img src="assets/images/bg7.png" alt="">
        </span>
        <span class="lf">
            <img src="assets/images/bg8.png" alt="">
        </span>
        <span class="rf content">
            <p>
                选择PK支付让您的资金
                <br>
                流量暴涨翻倍
            </p>
            <p>
                PK支付让您完全从资金流选择中解脱，只要连接我们的资金接口，我們平台的支付服务商都任您选择，不受任何限制。pk支付让您真正一站式管理來自各种渠道的订单资金，为您省下管理订单、对账的时间与人力成本。选择pk支付，未來若要新增支付工具、或更換支付服务商，均免重新申请接口，只需跟pk支付申请更换即可。
            </p>
        </span>
    </div>
</div>
